<div data-role="page" id="about" data-position="fixed">
	<div data-role="header" data-theme="b">
        <a href="#home" data-role="button" data-icon="home">Home</a>
		<h1>About</h1>
	</div>

	<div data-role="content">
        <p>The goal of this game is to provide an easy way to just pickup and learn new words. As a child I had the pleasure of winning an electronic dictionary that I would sit for hours playing its built-in games such as hangman, anagrams, etc. Yet I always wished it had a way to show a random word and I guess the defintion. This app is a fruitition of that youthful desire that I wish to share with the world.
        <p>Made by William Skidmore: <a href="http://www.wskidmore.com" target="_blank">wskidmore.com</a></p>
    </div>

</div>