<div data-role="page" id="play">
	<div data-role="header" data-theme="b">
        <a href="#home" data-role="button" data-icon="home" data-iconpos="notext"></a>
		<h1 id="playTitle">Vocab Fun</h1>
        <div data-type="horizontal" data-role="controlgroup" style="top:-3px;position:absolute;float:right;z-index:10;display:inline;" align="right" class="ui-btn-right">
            <a href="statistics.html" data-role="button" data-icon="check" data-theme="g"><span id="correct">0</span></a>
            <a href="statistics.html" data-role="button" data-icon="delete" data-theme="r"><span id="wrong">0</span></a>
        </div>
	</div>

	<div data-role="content" class="play-content">
        <h3 id="word">Word</h3>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" id="play-answers">
                <input type="radio" name="play-answer" id="play-answer0" value="worda" /><label for="play-answer0" class="play-label">Some definition</label>
                <input type="radio" name="play-answer" id="play-answer1" value="wordb" /><label for="play-answer1" class="play-label">Some bad definition Some bad definitionSome bad definitionSome bad definition</label>
                <input type="radio" name="play-answer" id="play-answer2" value="wordc" /><label for="play-answer2" class="play-label">Some bad definition</label>
                <input type="radio" name="play-answer" id="play-answer3" value="wordd" /><label for="play-answer3" class="play-label">Some bad definition</label>
            </fieldset>
        </div>
        <div id="play-submit-div"><button id="play-submit" data-theme="e">Submit</button></div>
        <div id="play-next-div"><button id="play-next" data-theme="e" class="ui-btn-hidden" data-icon="arrow-r" data-iconpos="right">Next</button></div>
    </div>
    <div data-role="footer" data-position="fixed" data-id="foot">
        wskidmore.com
    </div>

</div>