<div data-role="page" id="settings" data-iscroll="enable">
    <div data-role="header" data-theme="b" data-position="fixed">
        <a href="#home" data-role="button" data-icon="home">Home</a>
		<h1>Settings</h1>
	</div>
	<div data-role="content">
        <div>
            <div data-role="fieldcontain">
                <label for="settings-soundEnable">Sound:</label>
                <select name="slider" id="settings-soundEnable" data-role="slider">
                	<option value=false>Off</option>
            		<option value=true>On</option>
            	</select> 
            </div>
            <div data-role="fieldcontain">
                <label for="settings-clear" class="ui-slider">Erase All Data:</label>
                <a href="#" data-role="button" data-inline="true" id="settings-clear">Clear</a>
            </div>
        </div>
    </div>
</div>