<div data-role="page" id="stats" data-iscroll="enable">
	<div data-role="header" data-theme="b" data-position="fixed">
        <a href="#home" data-role="button" data-icon="home">Home</a>
		<h1>Statistics</h1>
	</div>
	<div data-role="content">
        <div data-role="collapsible-set" id="statistics-list">
            <div data-role="collapsible" data-collapsed="false">
                <h3>Summary</h3>
				<p>
				<table>
				<tr><td>Total Correct:</td><td><span id="stats-total_correct">0</span></td></tr>
				<tr><td>Total Wrong:</td><td><span id="stats-total_wrong">0</span></td></tr>
				<tr><td>Accuracy:</td><td><span id="stats-accuracy">0</span>%</td></tr>
                </table>
				</p>
            </div>
        </div>
    </div>
<div data-role="footer" data-position="fixed">
</div>
</div>