<div data-role="page" id="type" data-add-back-btn="true">
	<div data-role="header" data-theme="b">
		<h1>Play Type</h1>
	</div>

	<div data-role="content">
        
        <div data-role="collapsible-set">

            <div data-role="collapsible" data-collapsed="false">
                <h3>Word to Definition</h3>
                <p>Be shown a word and you pick the correct definition.</p>
                <a href="#" data-role="button" data-inline="true" data-play="Word">Play</a> 
                <a href="#" data-role="button" data-inline="true" data-play="WordTimed">Play Timed</a>
            </div>

            <div data-role="collapsible" data-collapsed="true">
                <h3>Definition to Word</h3>
                <p>Be shown a definition and you pick the correct word.</p>
                <a href="#" data-role="button" data-inline="true" data-play="Def">Play</a> 
                <a href="#" data-role="button" data-inline="true" data-play="DefTimed">Play Timed</a>
            </div>

        </div>

    </div>

</div>

        <script>
            /*
            <div data-role="collapsible" data-collapsed="true">
                <h3>Analogies</h3>
                <p>Select the correct word that follows the pattern: knee is to leg, as elbow is to...</p>
                <button data-inline="true" data-play="Analogy">Play</button> <button data-inline="true" data-play="AnalogyTimed">Play Timed</button>
            </div>

            <div data-role="collapsible" data-collapsed="true">
                <h3>Odd One Out</h3>
                <p>Select the word that does not fit in with the others.</p>
                <button data-inline="true" data-play="Odd">Play</button> <button data-inline="true" data-play="OddTimed">Play Timed</button>
            </div>
             */
        </script>
